# Script execution

## Grade file (path to .csv grade file).
GRADE_FILE=""

## Result file (path to .txt output result file).
RESULT_FILE=""

## Specific course (a string)
SPECIFIC_COURSE=""

## ignoring some courses (path to ignore.txt file)
IGNORE_FILE=""

## Uncomment this line to calculate overall GPA and print it to $RESULT_FILE.
# ./main $GRADE_FILE --gpa > $RESULT_FILE

## Uncomment this line to calculate GPA with specific course name and print it to $RESULT_FILE.
# ./main $GRADE_FILE --specific $SPECIFIC_COURSE > $RESULT_FILE

## Uncomment this line to calculate GPA, ignoring some courses and print it to $RESULT_FILE.
# ./main $GRADE_FILE --except $IGNORE_FILE > $RESULT_FILE
